html, body{
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

#game-board {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-around;
  
}

.tile {
  height: 60px;
  width: 60px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
}
