html, body{
  height: 95%;
}

body {
  display: grid;
  place-items: center;
}

#game-board {
  display: grid;
  gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  grid-template-columns: repeat(5, 1fr);
  

}

.tile {
  height: 60px;
  width: 60px;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid #d3d6da;
  font-weight: bold;
  line-height: 1;
}

#keyboard{
  width: 50%;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.keyboard-row button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  height: 58px;
  cursor: pointer;
  background-color: rgb(129, 131, 132);
  color: rgb(215, 218, 220);
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 6px;
  border-radius: 4px;
  user-select: none;
}

.keyboard-row button.wide-button {
  flex-grow: 1.5;
}

.spacer-half {
  flex-grow: 0.5;
}

